<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>introduction to django</title>
</head>
<body>
    <table>
        <th>3</th>
        <th>2</th>
        <th>1</th>
        <th>0</th>
        <tr>
            <td>a</td>
            <td>v</td>
            <td>c</td>
            <td>d</td>
        </tr>
        <tbody>
            <tr>
                <td>jh</td> 
                <td>y</td> 
                <td>h</td>
            </tr>
        </tbody>
        
    </table>

    <form action=""name="mform">
        <label for="name">fname</label>
        <input type="text">
        <label for="">lname</label>
        <input type="text">
    </form>
</body>
</html>